html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --peach: #E7816B;
    --black: #1D1C1E;
    --light-peach: #FFAD9B;
    --dark-gray: #333136;
    --light-grey: #F1F3F5;
}

body {
    padding: 0;
    margin: 0;
    line-height: 1.5;
    font-size: 1em;
    font-weight: 400;
    font-family: 'Jost', sans-serif;
}

.wrapper {
    margin: 0 auto;
}

h1 {
    font-weight: 700;
    font-size: 3em;
    line-height: 1.2;
}

h2 {
    font-weight: 500;
    font-size: 3em;
    letter-spacing: 2px;
}

h3 {
    font-size: 1.25em;
    font-weight: 500;
    letter-spacing: 5px;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 5.8em;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.4);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.btn {
    border: none;
    padding: 1em 1.5em;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 500;
    font-family: 'Jost', sans-serif;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}

.btn:hover {
    color: #fff;
    background-color: var(--light-peach);
}

.btn-dark {
    background-color: var(--peach);
    color: #fff;
}

.btn-dark:hover {
    background-color: var(--light-peach);
}

/* nav styling */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 1em 1em 1em 0.5em;
}

.logo-nav,
.logo-footer {
    cursor: pointer;
}

.logo {
    width: 13em;
}

.hamburger,
.nav-close {
    background: transparent;
    border: none;
    font-size: 1.6em;
    position: absolute;
    top: 1.2em;
    right: 0.5em;
    cursor: pointer;
    outline: none;
    display: none;
    padding: 0;
}

.nav-close.show {
    display: block;
    z-index: 2;
}

.nav-links {
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
}

.nav-links li {
    flex: 1 0 auto;
}

.nav-links a {
    color: var(--dark-gray);
    margin: 2em;
    text-transform: uppercase;
    position: relative;
}

.nav-links a::after {
    content: "";
    background-color: var(--peach);
    height: 3px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -20px;
    transition: transform 0.2s ease;
    opacity: 0;
}

.nav-links a:hover::after {
    transform: translateY(-15px);
    opacity: 1;
}

/* main styling starts here */
main {
    text-align: center;
    position: relative;
    padding-bottom: 19em;
}

.locations h2 {
    color: var(--peach);
}

#map-canada,
#map-australia,
#map-uk {
    background-size: cover;
    width: 100%;
    height: 20em;
    border-top: 1px solid #fff;
    border-bottom: none;
    z-index: 1;
}

.office-address {
    background: linear-gradient(rgba(231, 129, 107, 0.1), rgba(231, 129, 107, 0.1)),
        url(../assets/about/mobile/bg-pattern-hero-about-mobile.svg);
    background-size: cover;
    width: 100%;
    padding: 3em 2em 4em 2em;
}

.office-address strong {
    margin-bottom: 0;
}

.office-address p {
    margin: 0;
}

.central-office {
    margin-bottom: 2em;
}

.canada,
.australia {
    margin-bottom: 2.5em;
}

/* article styling */
.get-in-touch {
    background-color: var(--peach);
    background-image: url(../assets/home/desktop/bg-pattern-intro-web.svg);
    background-repeat: repeat;
    background-position: 80% 50%;
    color: #fff;
    width: 90%;
    left: 5%;
    padding: 3em 1em 4em 1em;
    position: absolute;
    bottom: -13em;
    border-radius: 15px;
}

.btn-article {
    margin-top: 1em;
}

/* footer styling */

footer {
    background-color: var(--black);
    padding: 18em 1em 5em 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--light-grey);
}

.footer-upper-deck {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-bottom: 1.5em;
}

.logo-footer {
    padding-bottom: 3em;
}

.logo-footer::after {
    content: "";
    border: 1px solid var(--dark-gray);
    width: 100%;
    position: absolute;
    right: 0;
    top: 4em;
}

.footer-link ul {
    padding: 0;
}

.footer-link li {
    margin: 1em;
}

.footer-link a:hover {
    opacity: 0.6;
}

.footer-link a {
    color: var(--light-grey);
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 0.9em;
}

.footer-lower-deck {
    margin: 0;
}

.office>p,
.contact>p {
    margin: 0;
}

.office,
.contact {
    padding-bottom: 3em;
    color: #808080;
    font-weight: 400;
}

.social-media-links img {
    margin: 0.4em;
    cursor: pointer;
}

.social-media-links img:hover {
    opacity: 0.6;
}

/* 758px  */

@media (max-width: 767px) {
    .nav-links {
        position: fixed;
        flex-direction: column;
        top: 4.4em;
        background-color: var(--black);
        width: 120%;
        left: 0;
        z-index: 4;
        display: block;
        font-size: 1.3em;
        transform: translateX(120%);
        transition: transform 0.2s ease;
    }

    .nav-links.show {
        transform: translateX(0);
    }

    .nav-links a {
        color: #fff;
        letter-spacing: 0.1em;
    }

    .nav-links li {
        margin: 1.5em 0;
    }

    .hamburger {
        display: block;
        z-index: 2;
    }

    h1 {
        font-size: 2em;
        font-weight: 500;
        line-height: 1.3;
    }

    h2 {
        font-weight: 500;
        font-size: 1.8em;
        letter-spacing: 2px;
        line-height: 1.3;
    }

    h3 {
        font-size: 1.3em;
        font-weight: 500;
        letter-spacing: 5px;
        line-height: 1.3;
    }
}

/* i pad screen size */
@media (min-width: 768px) and (max-width: 1124px) {
    .wrapper {
        margin: 3em 2em;
    }

    /* nav styling */
    nav {
        padding: 1em 0 3em 0;
    }

    .logo-nav {
        padding: 0;
    }

    .nav-links a {
        margin: 1em;
    }

    /* main styling */
    main {
        padding-bottom: 15em;
    }

    #map-canada,
    #map-australia,
    #map-uk {
        margin-bottom: 2.5em;
        border-radius: 1em;
    }

    .canada,
    .australia,
    .uk {
        margin-bottom: 7em;
    }

    .office-address {
        border-radius: 1em;
    }

    .get-in-touch {
        bottom: -10em;
        padding: 0 10% 5% 10%;
    }

    /* footer styling */

    footer {
        display: block;
        padding: 10em 1em 5em 1em;
        text-align: left;
    }

    .footer-upper-deck {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding-bottom: 3em;
    }

    .logo-footer {
        padding-bottom: 0;
        width: 35%;
    }

    .footer-link {
        display: flex;
        flex-direction: row;
    }

    .footer-link ul {
        display: flex;
    }

    .footer-lower-deck {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0;
    }

    .logo-footer::after {
        top: 6em;
    }

    .office,
    .contact {
        padding: 0;
    }

    .social-media-links {
        align-self: flex-end;
    }

}


/* desktop version */
@media (min-width: 1125px) {

    h1,
    h2 {
        font-weight: 500;
    }

    .wrapper {
        width: 69.5em;
        margin-top: 1.5em;
    }

    nav {
        padding: 1em 0 1.5em 0;
    }

    nav li a:last-child {
        margin-right: 0;
    }

    .logo {
        width: 15em;
    }

    main {
        padding-bottom: 21em;
    }

    .locations {
        display: grid;
    }

    .locations h2 {
        margin-bottom: 0.3em;
    }

    .canada,
    .australia,
    .uk {
        display: flex;
    }

    #map-canada {
        order: 2;
    }

    #map-uk {
        order: 1;
    }

    #map-canada,
    #map-australia,
    #map-uk {
        border-radius: 1em;
        width: 50%;
        height: 100%;
    }

    .office-address {
        border-radius: 1em;
        text-align: left;
        padding: 3em 5em;
    }

    .central-office {
        margin-right: 7em;
    }

    .office-flex {
        display: flex;
    }

    .off-can,
    .off-uk {
        margin-right: 2em;
    }

    .off-aus {
        margin-left: 2em;
    }

    .get-in-touch {
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: 1fr 1fr;
        bottom: -5em;
        text-align: left;
        padding: 2.5em 5.5em;
        width: 69.3em;
        left: 0;
    }

    .get-in-touch h2 {
        line-height: 1.2;
        font-size: 2em;
        width: 8em;
    }

    .get-in-touch button {
        justify-self: right;
    }

    footer {
        display: block;
        padding: 10em 1em 5em 1em;
        text-align: left;
    }

    .footer-wrapper {
        width: 69em;
        margin: auto;
    }

    .footer-upper-deck {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 3em;
    }

    .logo-footer {
        padding-bottom: 0;
    }

    .footer-link {
        display: flex;
        flex-direction: row;
    }

    .footer-link ul {
        display: flex;
    }

    .footer-lower-deck {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
    }

    .logo-footer::after {
        top: 6em;
    }

    .office,
    .contact {
        padding: 0;
    }

    .social-media-links {
        align-self: flex-end;
    }

}